.blogdetail{
    background-color: $darkWhite;
    &__banner{
        
        &--img{
            object-fit: cover;
            width: 100%;
            height: 22vw;
        }
    }

    &__container{
        display: grid;
        &--main{
            width: 90%;
            margin: 0 auto;
            margin-left: 5%;
            grid-template-columns: 24% auto;
            grid-column-gap: 4%;
        }      
        &--top{
            margin-top: 4vw;
            margin-bottom: 2vw;
            grid-template-columns: auto 5vw;
        }  
        &--smallcard{
            background-color: $lightWhite;
            padding: 1vw 2vw;
        }
        &__img{
            margin: 2vw 0;
            &--duo{
                display: grid;
                grid-template-columns: 49.5% 49.5%;
                grid-column-gap: 1%;
            }
            &--triple{
                display: grid;
                grid-template-columns: 33% 33% 33%;
                grid-column-gap: 0.5%;
            }
        }
        &__text{
            color: $lightGray;
            margin: 1vw 0;
        }
    }

    &__display{
        &--img{
            width: 100%;
            height: 18vw;
        }
    }

    &__edit{
        &--img{
            &:hover{
                -webkit-filter: brightness(70%);
                -webkit-transition: all 0.3s ease;
                -moz-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
        }
    }

    &__mode{
        &__text{
            &--edit{
                transition-duration: 0.3s;
                &:hover{
                    color: red;
                }

            }
        }
    }

    &__cardtitle{
        color: $Orange;
        font-family: $chunkyfive-ex;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    &__pfp{
        height: 18vw;
        width: 18vw;
        border-radius: 50%;
        border: solid $darkWhite 1rem;
        background-color: $darkWhite;
        object-fit: cover;
    }

    &__button{
        background-color: none;
        border-width: 0.1vw;
        border-radius: 6vw;
        width: fit-content;
        padding: 0.5vw 1.5vw;

        &--category{
            border-color: $Blue;
            color: $Blue;
            font-family: $font-work;
            font-weight: 500;
            font-size: 1vw;
            margin-right: 0.8vw;
        }
    }

    &__icon{
        width: 1.5vw;
        height: 1.5vw;
        opacity: 0.4;
        &--update{
            margin-right: 0.7vw;
        }
    }

    &__text{
        font-family:$font-work;
        word-break: break-all;

        &--title{
            font-family: $chunkyfive-ex;
            font-size: 2.5vw;
            color: $Blue
        }

        &--paragrafTitle{
            font-size: 1vw;
            font-weight: bold;
            margin-bottom: 0.5vw;
        }

        &--paragraf{
            font-size: 1vw;
        }

        &--opening{
            font-size: 1.5vw;
            color: $lightGray;
        }
    }
    &__test{
        position: relative;
        top: -7vw;
    }

    &__reacties{
        background-color: $lightWhite;
        padding-top: 1vw;
        margin-top: 8vw;
        margin-bottom: 10vw;

        &--container{
            width: 90%;
            margin: 0 auto;
        }

        &--title{
            font-family: $chunkyfive-ex;
            font-size: 1.5vw;
            color: $Orange;
            margin-bottom: 1vw;
        }
    }

    &__menu{
        &--right{
            overflow: hidden;
        } 
    }
    &--hide{
        display: none;
    }
    &--show{
        display: block;
    }
}