.card{
    background-color: white;
    margin-bottom: 1.5rem;
    &__container{
        display: grid;
        grid-template-columns: 20% 50% 30%;
        margin-top: 0.6vw;
    }
    &__pfp{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-left: 1rem;
        object-fit: cover;
    }
    &__username{
        display: flex;
        align-items: center;
        font-weight: bolder;
        margin-left: 1vw;
        font-size: 1rem;
        color: $Blue;
    }
    &__time{
        display: flex;
        align-items: center;
        color: $Orange;
    }
    &__banner{
        width: 5rem;
        height: 5rem;
    }
    &__title{
        font-size: 2.5rem;
        color: $Blue;
    }
    &__text{
        font-weight: 100;
    }
    &__button{
        &--detail{
            background-color: white;
            border: 1px solid $Orange;
            border-radius: 1rem;
            padding: 0.4rem 1.2rem;
            color: $Orange;
        }
    }
}