.comment{
    &__container{
        padding-top: 1vw;
        border-top: 2px solid $darkWhite;
        width: 95%;
    }

    &__input{
        height: 3vw;
        border-radius: 1.5vw;
        font-family: $font-work;
        background-color: $darkWhite;
        color: $lightGray;
        border: none;
        padding-left: 1vw;
    }

    &__line{
        display: grid;
        grid-template-columns: 4vw auto;
        padding-bottom: 1vw;
    }

    &__pfp{
        object-fit: cover;
        width: 3vw;
        height: 3vw;
        border-radius: 50%;
    }

    &__text{
        display: flex;
        align-items: center;
        padding-left: 1vw;
        font-family: $font-work;
        color: $lightGray;
    }
}