.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: $Blue;
    padding: 1rem 0;
    color: $lightWhite;
    z-index: 1;

    &__logo{
        display: flex;
        align-items: center;
        margin-left: 2.5vw;

        &--foto{
            height: 2.5rem;
            width: 2.5rem;
            object-fit: contain;
        }

        &--text{
            font-family: $chunkyfive-ex;
            font-size: 2.5rem;
        }
    }

    &__bars{
        display: flex;
        align-items: center;
    }

    &__subnavigationbar{
        position: relative;
    }

    &__submenubar{
        display: none;
        position: absolute;
        background-color: red;
        left: 50%;
        transform: translateX(-50%);
        padding: 1vw;
        border-radius: 10%;

        ul{
            display: grid;
            gap: 1vw;
            list-style-type: none;

            li{
                color: $Blue;
                cursor: pointer;
                
                a{
                    color: $Blue;
                    text-decoration: none;
                }
            }
        }
    }

    &__submenubar--show{
        display: block;
    }

    &__menubar{
        font-family: $font-work;
        font-weight: 300;
        display: flex;
        gap: 1rem;
        list-style-type: none;
    }

    &__person--foto{
        height: 3rem;
        border-radius: 50%;
        margin: 0 2.5vw;
        width: 3rem;
        object-fit: cover;
    }
    &__link{
        text-decoration: none;
        color: $lightWhite;
        transition-duration: 0.3s;
        &:hover{
            color: $Orange;
        }
    }
}