.profile{
    background-color: $darkWhite;
    &__banner{
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
    &__container{
        width: 95%;
        padding-left: 3%;
        display: grid;
        grid-template-columns: 25vw auto;
        grid-column-gap: 2vw;

        &--userdata{
            width: 75%;
            padding-left: 5%;
        }
    }
    &__blog{
        margin-top: 2vw;
        &--showblog{
            margin-top: 2vw;
            display: grid;
            grid-template-columns: 49% 49%;
            grid-column-gap: 2%;
        }
    }
    &__user{
        &--picture{
            width: 18vw;
            height: 18vw;
            border-radius: 50%;
            border: solid $darkWhite 0.8vw;
        }
        &--name{
            color: $Orange;
            font-size: 1.5vw;
            font-family: $chunkyfive-ex;
            padding-bottom: 0.5vw;
        }
        &--username{
            color: $Blue;
            font-size: 1.5vw;
            font-family: $chunkyfive-ex;
            padding-bottom: 1vw;
        }
        &--description{
            color: $darkGray;
            font-size: 1vw;
            font-family: $font-work;
        }
    }
    &__menu{
        width: 100%;
        &--left{
            position: relative;
            top: -7vw;
        }
    }
}