.banner{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.profile{
    display: flex;
    padding: 0 3vw;
    gap: 5vw;
}

.user{
    width: 20vw;

    &__createblog{
        width: 100vw;
    }

    &--picture{
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        transform: translateY(-50%);
    }
}

.blog{
    display: grid;

    &__createblog{
        margin: 5vh 0;
        display: flex;
        align-items: center;
        
        &__container{
            display: none;

            &--show{
                display: block;
            }
        }

        &--picture{
            width: 5%;
        }
    }

    &__showblog{
        display: grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
        grid-row-gap: 3%;
    }
}