.banner{
    width: 100%;
    height: 30vh;
    object-fit: cover;
}

.profilePage{
    display: flex;
    padding: 0 3vw;
    gap: 5vw;
}

.user{
    width: 20vw;

    &__createblog{
        width: 100vw;
    }

    &--picture{
        border-radius: 50%;
        width: 20vw;
        height: 20vw;
        object-fit: cover;
        transform: translateY(-50%);
    }
}

.blog{
    width: 80vw;

    &__createblog{

        &--picture{
            width: 5%;
        }

        &--input{
            width: 80%;
        }
    }

    &__showblog{
        display: flex;
        gap: 5vw;

        &-card{
            width: 50%;
            margin-top: 5vw;

            &--picture{
                width: 50px;
            }

            &--bigpicture{
                width: 100%;
                height: 20vh;
                object-fit: cover;
            }
        }
    }
}