.updateUserForm{
    background-color: $lightGray;
    display: grid;
    gap: 20px;
    width: 50%;
    position: relative;
    margin: 20vw 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px;
    border-radius: 20px;
}