$Blue: #111B4E;
$Orange: #D66D35;
$lightGray: #7B7B7B;
$darkGray: #707070;
$lightWhite: #FFFFFF;
$darkWhite: #F4F4F4;
$darkRed: #a53d3d;

$font-work: 'Work Sans', sans-serif;
$chunkyfive-ex: 'ChunkFive Ex', sans-serif;