* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #111B4E;
  padding: 1rem 0;
  color: #FFFFFF;
  z-index: 1;
}
.header__logo {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.header__logo--foto {
  height: 2.5rem;
  width: 2.5rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__logo--text {
  font-size: 2.5rem;
  font-weight: bold;
}
.header__rightSide {
  display: flex;
  align-items: center;
}
.header__menubar {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.header__person--foto {
  height: 3rem;
  border-radius: 50%;
  margin: 0 3rem;
  width: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.loginBody {
  background-color: #111B4E;
  overflow: hidden;
}

.backgroundPicture {
  display: block;
  background-image: url(/images/writing.png?6eb4d47e24db92b23b3c3106bd18bfd9);
  background-repeat: no-repeat;
  background-size: 100vh;
  height: 100vh;
}

.login {
  font-family: "Work Sans", sans-serif;
  background-color: #FFFFFF;
  display: block;
  padding: 3rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem 2rem 0 0;
}
.login__title {
  color: #111B4E;
  margin-bottom: 2rem;
  font-weight: bold;
}
.login__box--input {
  margin-top: 1rem;
  color: #7B7B7B;
}
.login__input {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid #7B7B7B;
  padding: 0.5rem;
}
.login__inlogbutton {
  background-color: #D66D35;
  color: #FFFFFF;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 1rem;
}
.login__account--buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}
.login__account--buttons--left {
  text-decoration: none;
  color: #7B7B7B;
}
.login__account--buttons--right {
  text-decoration: none;
  color: #D66D35;
}

.home__container {
  display: grid;
}
.home__container--main {
  background-color: red;
  grid-template-columns: 28% 72%;
  margin: 3vw 2vw;
}
.home__container--secondary {
  padding: 0 2vw;
  background-color: blue;
  grid-row-gap: 2vw;
}
.home__container--tertiary {
  background-color: yellow;
  grid-template-columns: 49% 49%;
  grid-column-gap: 2%;
}
.home__post--create {
  background-color: white;
}

.card {
  background-color: white;
  margin-bottom: 1.5rem;
}
.card__container {
  display: flex;
  margin: 0.6vw 0;
  justify-content: space-between;
}
.card__container--left {
  display: flex;
}
.card__container--right {
  display: flex;
  justify-content: flex-end;
}
.card__pfp {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-left: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__username {
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin-left: 1vw;
  font-size: 1rem;
  color: #111B4E;
}
.card__time {
  display: flex;
  align-items: center;
  margin-right: 1vw;
  color: #D66D35;
}
.card__banner {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__title {
  font-size: 2.5rem;
  color: #111B4E;
}
.card__text {
  margin-bottom: 1rem;
  font-weight: 100;
}
.card__button {
  margin-bottom: 1rem;
}
.card__button--detail {
  background-color: white;
  border: 1px solid #D66D35;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem;
  color: #D66D35;
}
.card__description {
  margin-left: 5%;
}

.banner {
  width: 100%;
  height: 30vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.profilePage {
  display: flex;
  padding: 0 3vw;
  gap: 5vw;
}

.user {
  width: 20vw;
}
.user__createblog {
  width: 100vw;
}
.user--picture {
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-50%);
}

.blog {
  width: 80vw;
}
.blog__createblog {
  margin: 5vh 0;
  display: flex;
  align-items: center;
}
.blog__createblog--picture {
  width: 5%;
}
.blog__createblog-container {
  display: none;
}
.blog__createblog-container--show {
  display: block;
}
.blog__showblog {
  display: flex;
  gap: 5vw;
}
.blog__showblog-card {
  width: 50%;
}
.blog__showblog-card--picture {
  width: 50px;
}
.blog__showblog-card--bigpicture {
  width: 100%;
  height: 20vh;
  -o-object-fit: cover;
     object-fit: cover;
}
